<h1>Listing Volunteers</h1>

<%= link_to 'New Volunteer', new_volunteer_path %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Member</th>
      <th>Role</th>
      <th>Is leader</th>
      <th>Start</th>
      <th>Finish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= link_to volunteer.project.name, project_path(volunteer.project) rescue nil %></td>
        <td><%= link_to volunteer.member.full_name, member_path(volunteer.member) rescue nil %></td>
        <td><%= volunteer.role %></td>
        <td><%= volunteer.is_leader %></td>
        <td><%= volunteer.start %></td>
        <td><%= volunteer.finish %></td>
        <td><%= link_to 'Show', volunteer %></td>
        <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
        <td><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
