<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @volunteer.role %>
</p>

<p>
  <strong>Is leader:</strong>
  <%= @volunteer.is_leader %>
</p>

<p>
  <strong>Start:</strong>
  <%= @volunteer.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @volunteer.finish %>
</p>

<p>
  <strong>Member:</strong>
  <%= @volunteer.member %>
</p>

<p>
  <strong>Project:</strong>
  <%= @volunteer.project %>
</p>

<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
