<h1>Listing Partners</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Start</th>
      <th>Finish</th>
      <th>Type</th>
      <th>Organisation</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.start %></td>
        <td><%= partner.finish %></td>
        <td><%= partner.partner_type %></td>
        <td><%= partner.organisation %></td>
        <td><%= partner.project %></td>
        <td><%= link_to 'Show', partner %></td>
        <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
        <td><%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner', new_partner_path %>
