<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= link_to @question_list.question.question, @question_list.question %>
</p>

<p>
  <strong>Question set:</strong>
  <%= link_to @question_list.question_set.title, @question_list.question_set %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @question_list.weight %>
</p>

<%= link_to 'Edit', edit_question_list_path(@question_list) %> |
<%= link_to 'Back', question_lists_path %>
