<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @arranger.project %>
</p>

<p>
  <strong>Event:</strong>
  <%= @arranger.event %>
</p>

<%= link_to 'Edit', edit_arranger_path(@arranger) %> |
<%= link_to 'Back', arrangers_path %>
