<h1>Respond to <%= @question_set.title %> as <%= @member.full_name %> (<%= @member.membership_code %>)</h1>

<% if @question_set.questions.where(category: 1).exists? %>
  <div class="js-form__needs-entity">
    <p>Some of these questions relate to an event. Select the event to continue.</p>
    <%= select_tag "Event", options_from_collection_for_select(Event.all, "entity_id", "select_string"), { class: 'js-form__entity-selector', prompt: "Select Event..." } %>
  </div>
<% elsif @question_set.questions.where(category: 3).exists?  %>
  <div class="js-form__needs-entity">
    <p>Some of these questions relate to a project. Select the project to continue.</p>
    <%= select_tag "Project", options_from_collection_for_select(Project.all, "entity_id", "select_string"), { class: 'js-form__entity-selector', prompt: "Select Project..." } %>
  </div>
<% end %>

<div class="form">
  <%= form_for @question_set, :url => {:action => "batch_create", params: {responder: @member.entity_id}}, method: "post" do |f| %>
    <%= f.fields_for :questions do |question| %>
      <h3><%= question.object.question %></h3>
      <%= f.fields_for :question_response do |response| %>
        <%# If there's a string here, then it's an array of acceptable answers %>
        <% if question.object.response && question.object.response.length > 0 %>
          <% JSON.parse(question.object.response).each_with_index do |option, idx| %>
            <%= response.radio_button "#{question.object.id}", idx %>
            <%= response.label "#{question.object.id}_#{idx}", option %>
          <% end %>
        <% else %>
          <%= response.text_area "#{question.object.id}", cols: "80", rows: "5" %>
        <% end %>
      <% end %>
    <% end %>
    <br>
    <%= f.submit :value => "Submit questionnaire" %>
  <% end %>
</div>
