<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<p><%= link_to 'Update events now', update_calendar_path, method: :post %></p>

<table class="js-table-sort">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Start</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th class="js-table-sort__searchable">Name</th>
      <th class="js-table-sort__searchable">Category</th>
      <th class="js-table-sort__searchable">Start</th>
      <th class="js-table-sort__searchable">Location</th>
      <th></th>
    </tr>
  </ttfoot>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.category %></td>
        <td><%= event.start %></td>
        <td><%= event.location %></td>
        <td><%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
