<h1>Listing Events</h1>

<p><%= link_to 'New Event', new_event_path %> | <%= link_to 'Update events now', update_calendar_path, method: :post %></p>

<%= smart_listing_controls_for(:events,  {class: "form-inline text-right"}) do %>
  <%= render "smart_listing/filter" %>
<% end %>


<%= smart_listing_render(:events) %>
