<h1 class="event__name">
  <%= @event.name %>
</h1>

<p class="event__category">
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p class="event__type">
  <strong>Type:</strong>
  <%= @event.type %>
</p>

<p class="event__type-other">
  <strong>Type if other:</strong>
  <%= @event.type_other %>
</p>

<p class="event__date">
  <strong>Start:</strong>
  <%= @event.start %>,
  <strong>Finish:</strong>
  <%= @event.finish %>
</p>

<p class="event__location">
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p class="event__description">
  <%= @event.description %>
</p>

<p class="event__google-id">
  <strong>Google ID:</strong>
  <%= @event.google_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<h2>Attendance</h2>

<%= render partial: 'attendance', locals: { event: @event } %>
