<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>,
  <strong>Finish:</strong>
  <%= @event.finish %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<h2>Attendance</h2>

<h3>Add Attendees</h3>

<%= render partial: 'attendance', locals: { event: @event } %>

<h3>Attended By</h3>

<ul>
  <% @event.members.each do |member| %>
    <li><%= "#{member.membership_code}: #{member.full_name}"%></li>
  <% end %>
</ul>
