<div class="page-header">
  <h1 class="event__name">
    <%= @event.name %>
  </h1>
</div>

<%= @event.description %>

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-default" %>
<%= link_to 'Back', events_path, class: "btn btn-default" %>

<h2>Properties</h2>

<% if @event.calendar %>
  <p class="event__importer">
    Last updated by <%= link_to "Calendar #{@event.calendar.id.to_s}", calendar_path(@event.calendar) %>, <%= time_ago_in_words @event.updated_at %> ago.
  <p>
<% end %>

<dl class="dl-horizontal">
  <dt>Start:</dt>
    <dd><%= @event.start %></dd>
  <dt>Finish:</dt>
    <dd><%= @event.finish %></dd>
  <dt>Location:</dt>
    <dd><%= @event.location %></dd>
  <dt>Category:</dt>
    <dd><%= @event.category %></dd>
  <dt>Type:</dt>
    <dd><%= @event.event_type %></dd>
  <dt>Type if other:</dt>
    <dd><%= @event.event_type_other %></dd>
  <dt>Google ID:</dt>
    <dd><%= @event.google_id %></dd>
  <dt>Funded?:</dt>
    <dd><%= display_tick @event.is_funded %></dd>
</dl>

<h2>Attendance</h2>

<%= render partial: 'attendance', locals: { event: @event } %>
