<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= link_to @member_location.member.name, @member_location.member rescue nil %>
</p>

<p>
  <strong>Location:</strong>
  <%= link_to @member_location.location.name, @member_location.location rescue nil %>
</p>

<p>
  <strong>From:</strong>
  <%= @member_location.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @member_location.to %>
</p>

<%= link_to 'Edit', edit_member_location_path(@member_location) %> |
<%= link_to 'Back', member_locations_path %>
