<div class="page-header">
  <h1>Listing Calendars <small>calendars import events</small></h1>
</div>

<%= link_to 'New Calendar', new_calendar_path, class: "btn btn-default" %>
<%= link_to 'Update all Calendars', update_calendar_path, method: :post, class: "btn btn-default" %>

<table class="table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Funded?</th>
      <th>Region default</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.project.name %></td>
        <td><%= display_tick calendar.is_funded_default %></td>
        <td><%= calendar.region %></td>
        <td><%= calendar.url %></td>
        <td><%= link_to 'Show', calendar %></td>
        <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
        <td><%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
