<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @calendar.project.name %>
</p>

<p>
  <strong>Is funded default:</strong>
  <%= @calendar.is_funded_default %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @calendar.url, @calendar.url %>
</p>

<p>
  <strong>Region default:</strong>
  <%= @calendar.region %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
