<%= form_for(@question_response) do |f| %>
  <% if @question_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_response.errors.count, "error") %> prohibited this question_response from being saved:</h2>

      <ul>
      <% @question_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :response %><br>
    <%= f.text_field :response %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br>
    <%= f.text_field :entity_id %>
  </div>
  <div class="field">
    <%= f.label :member_id %><br>
    <%= f.text_field :member_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
