<%= form_for(@question_response) do |f| %>
  <% if @question_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_response.errors.count, "error") %> prohibited this question_response from being saved:</h2>

      <ul>
      <% @question_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question %><br>
    <%= f.select :question do %>
      <% options_from_collection_for_select Question.all, :id, :question %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.select :subject do %>
      <%= options_from_collection_for_select Member.all, :entity_id, :full_name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :responder %><br>
    <%= f.select :responder do %>
      <% options_from_collection_for_select Member.all, :id, :full_name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :response %><br>
    <%= f.text_field :response %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
