<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @question_response.responder.full_name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question_response.question.question %>
</p>

<p>
  <strong>Response:</strong>
  <%= @question_response.response %>
</p>

<% if @question_response.subject %>
  <% s_id = @question_response.subject %>
  <% subject = Event.where(entity_id: s_id).first || Member.where(entity_id: s_id).first || Location.where(entity_id: s_id).first %>
  <p>
    <strong>Subject:</strong>
    <%= link_to subject.name, subject %>
  </p>
<% end %>


<%= link_to 'Edit', edit_question_response_path(@question_response) %> |
<%= link_to 'Back', question_responses_path %>
