<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @attendance.member.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @attendance.event.name %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
