<h1>Exports</h1>

<ul>
  <li><%= link_to "Events", events_exports_path %>. Listing of all events.</li>
  <li><%= link_to "Events demographics", events_demographics_exports_path %>. Demographic information from event attendees.</li>
  <li><%= link_to "Events feedback", events_feedback_exports_path %>. Feedback forms filled in at events.</li>
  <li><%= link_to "Initial questionnaire", questionnaire_exports_path %>, <%= link_to "followup questionnaire", followup_questionnaire_exports_path %>. Combined participant and volunteer questionnaire answers.</li>
  <li><%= link_to "Members", members_exports_path %>. We have one member type that contains both volunteers and participants.</li>
  <li><%= link_to "Projects", projects_exports_path %>. Listing of all MMU projects.</li>
</ul>
