<h1>Exports</h1>

<ul>
  <li><%= link_to "Events", events_exports_path(format: "xlsx") %>. Listing of all events.</li>
  <li><%= link_to "Events demographics", events_demographics_exports_path(format: "xlsx") %>. Demographic information from event attendees.</li>
  <li><%= link_to "Events feedback", events_feedback_exports_path(format: "xlsx") %>. Feedback forms filled in at events.</li>
  <li><%= link_to "Members", members_exports_path(format: "xlsx") %>. We have one member type that contains both volunteers and participants.</li>
  <li><%= link_to "Initial questionnaire", questionnaire_exports_path(format: "xlsx", params: { initial: true }) %>, <%= link_to "followup questionnaire", questionnaire_exports_path(format: "xlsx") %>. Combined participant and volunteer questionnaire answers.</li>
</ul>
