<!DOCTYPE html>
<html>
<head>
  <title>Manchester Age Friendly Neighbourhoods</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="nav">
  <%= link_to "Members", members_path %> |
  <%= link_to "Events", events_path %> |
  <%= link_to "Locations", locations_path %> |
  <%= link_to "Member Locations", member_locations_path %> |
  <%= link_to "Questions", questions_path %> |
  <%= link_to "Question Responses", question_responses_path %> |
  <%= link_to "Question Sets", question_sets_path %> |
  <%= link_to "Export", exports_path %>
  <% if user_signed_in? %>
    | <%= link_to "Logout #{current_user.email}", destroy_user_session_path, method: :delete %>
  <% end %>
</nav>

<%= render 'layouts/messages' %>

<%= yield %>

</body>
</html>
