<div class="card card__region-<%= member[:region] %>">
  <div class="card__front">
    <h1 class="center card__title card__h1">I am Age Friendly!</h1>
    <p class="card__field"><label>Name</label> <span><%= member.name %></span></p>
    <p class="card__field"><label>Number</label> <span><%= member.membership_code %></span></p>
    <p class="right">Membership Card</p>
  </div>
  <div class="card__back">

    <div class="card__qr qrcode">
      <% qrcode = RQRCode::QRCode.new(member.membership_code) %>
      <table>
        <% qrcode.modules.each_index do |x| -%>
         <tr>
         <% qrcode.modules.each_index do |y| -%>
          <% if qrcode.dark?(x,y) -%>
          <td class="black"/>
          <% else -%>
          <td class="white"/>
          <% end -%>
         <% end -%>
         </tr>
       <% end -%>
      </table>
    </div>

    <h1 class="card__region card__h1">Age Friendly<br> <%= member.region %><br> Partnership</h1>

    <div class="card__meta center">
      <%= member.region_email %><br>
      <%= member.region_website %>
    </div>
  </div>
</div>
