<%= semantic_form_for(@member) do |f| %>
  <%= f.inputs do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :region %>
    <%= f.input :is_resident %>
    <%= f.input :dob, :as => :date_picker %>
    <%= f.input :gender %>
    <%= f.input :tel %>
    <%= f.input :mob %>
    <%= f.input :email %>
    <%= f.input :notes, :as => :text, :input_html => { :class => 'autogrow', :rows => 5 } %>
    <div id="addresses">
      <%= f.semantic_fields_for :member_locations do |member_location| %>
        <%= render 'member_location_fields', :f => member_location %>
        <%= link_to_add_association 'add an existing location', f, :member_locations %>
      <% end %>
    </div>
  <% end %>
  <%= f.actions do %>
     <%= f.action :submit, :as => :button %>
     <%= f.action :cancel, :as => :link %>
   <% end %>
<% end %>
