<h1>Listing Members</h1>

<p><%= link_to 'New Member', new_member_path %></p>

<%= smart_listing_controls_for(:members,  {class: "form-inline text-right"}) do %>
  <div class="form-group autoselect">
    <%= select_tag :filter_region, options_for_select([[], ['Hulme', 0], ['Burnage', 1], ['Moston', 2], ['Miles Platting', 3]]), class: "search filter_region form-control" %>
  </div>
  <%= render "smart_listing/filter" %>
<% end %>

<%= smart_listing_render(:members) %>
