<h1>Listing Members</h1>

<p><%= link_to 'New Member', new_member_path %></p>

<%= smart_listing_controls_for(:members) do %>
  <div class="form-group select autoselect">
    <%= select_tag :filter_region, options_for_select([[], ['Hulme', 0], ['Burnage', 1], ['Moston', 2], ['Miles Platting', 3]]), class: "search filter_region form-control" %>
  </div>
  <div class="form-group filter input-append">
    <%= text_field_tag :filter, '', class: "search form-control", placeholder: "Search...", autocomplete: :off %>
  </div>
<% end %>


<%= smart_listing_render(:members) %>
