<p id="notice"><%= notice %></p>

<h1>Listing Members</h1>

<p><%= link_to 'New Member', new_member_path %></p>

<p>
  Download:
  <%= link_to "Excel", members_path(format: "xlsx") %>
</p>

<table id="js-table-sort">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>DoB</th>
      <th>Region</th>
      <th>Resident?</th>
      <th>Gender</th>
      <th>Tel</th>
      <th>Mob</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><tt><%= member.membership_code %></tt></td>
        <td><%= member.full_name %></td>
        <td><%= member.dob %></td>
        <td><%= member.region %></td>
        <td><%= member.is_resident ? "Yes" : "No" %></td>
        <td><%= member.gender %></td>
        <td><%= member.tel %></td>
        <td><%= member.mob %></td>
        <td><%= member.email %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
