<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <tt><%= @member.membership_code %></tt>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.first_name %> <%= @member.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @member.tel %>
</p>

<p>
  <strong>Mob:</strong>
  <%= @member.mob %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<h2>Locations</h2>
<ul>
  <% MemberLocation.where(member: @member).each do |l| %>
    <% location = l.location %>
    <li><%= location.full_address %> (<%= l.from %> -- <%= l.to || "now" %>)</li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
