<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <tt><%= @member.membership_code %></tt>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.first_name %> <%= @member.last_name %>
</p>

<p>
  <strong>DoB:</strong>
  <%= @member.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @member.tel %>
</p>

<p>
  <strong>Mob:</strong>
  <%= @member.mob %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<h2>Locations</h2>
<ul>
  <% MemberLocation.where(member: @member).each do |l| %>
    <% location = l.location %>
    <li><%= location.full_address %> (<%= l.from %> -- <%= l.to || "now" %>)</li>
  <% end %>
</ul>

<h2>Questions</h2>

<h3>Complete a survey</h3>
<ul class="question-sets">
  <% @question_sets.each do |qs| %>
    <li><%= link_to qs.title, member_question_set_path(@member, qs) %></li>
  <% end %>
</ul>

<h3>Recent responses</h3>
<dl class="question-responses">
  <% @member.date_sorted_responses.each do |r| %>
    <dt><%= r.question.question %></dt>
    <dd><%= link_to r.response, question_response_path(r.id) %> <em>(<%= time_ago_in_words(r.created_at) %> ago)</em></dt>
  <% end %>
</dl>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
