<p id="notice"><%= notice %></p>

<h1 class="member__name">
  <%= @member.first_name %> <%= @member.last_name %>
</h1>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>


<p class="member__id">
  <strong>ID:</strong>
  <tt><%= @member.membership_code %></tt>
</p>

<p class="member__dob">
  <strong>DoB:</strong>
  <%= @member.dob %>
</p>

<p class="member__region">
  <strong>Region:</strong>
  <%= @member.region %>
  <div class="member__is-resident">
    <strong>Resident:</strong>
    <%= @member.is_resident ? "Yes" : "No" %>
  </div>
</p>

<p class="member__tel">
  <strong>Tel:</strong>
  <%= @member.tel %>
</p>

<p class="member__mob">
  <strong>Mob:</strong>
  <%= @member.mob %>
</p>

<p class="member__email">
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p class="member__ethnic-background">
  <strong>Ethnic Background:</strong>
  <%= @member.ethnic_background %>
</p>


<p class="member__ethnic-background-other">
  <strong>Ethnic background if other:</strong>
  <%= @member.ethnic_background_other %>
</p>

<p class="member__notes">
  <strong>Notes:</strong>
  <%= @member.notes %>
</p>


<h2>Locations</h2>
<ul>
  <% @member.member_locations.each do |l| %>
    <% location = l.location %>
    <li>
      <%= location.full_address %> (<%= l.from %> -- <%= l.to || "now" %>)
      <%= link_to "edit address", edit_location_path(location) %>
      <%= link_to "edit dates", edit_member_location_path(l) %>
    </li>
  <% end %>
</ul>

<h2>Projects</h2>

<ul>
  <% @member.volunteers.each do |v| %>
    <li>
      <%= link_to "#{v.role || "Unnamed role"} at #{v.project.name}", project_path(v.project) %>
    </li>
  <% end %>
</ul>

<h2>Organisations</h2>

<ul>
  <% @member.representatives.each do |r| %>
    <li>
      <%= link_to "#{r.job_title || "No title"} at #{r.organisation.name}", organisation_path(r.organisation) %>
    </li>
  <% end %>
</ul>

<h2>Attendances</h2>

<ul>
  <% @member.events.each do |e| %>
    <li><%= "#{e.pretty_start} (#{e.duration}). #{e.name}, #{e.location}." %></li>
  <% end %>
</ul>

<h2>Questions</h2>

<h3>Complete a survey as this user</h3>
<ul class="question-sets">
  <% @question_sets.each do |qs| %>
    <li><%= link_to qs.title, "/question_sets/#{qs.id}/respond/#{@member.id}" %></li>
  <% end %>
</ul>

<h3>Recent responses</h3>
<dl class="question-responses">
  <% @member.date_sorted_responses.each do |r| %>
    <dt><strong><%= r.question.question %></strong></dt>
    <dd><%= link_to r.formatted_response, question_response_path(r.id) %> <em>(<%= time_ago_in_words(r.created_at) %> ago, <%= link_to "edit", edit_question_response_path(r.id) %>)</em></dt>
  <% end %>
</dl>
